body {
    background: #EEF1FF;
}

.title-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.main-connect-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container > h1 {
    background: darkblue;
    font-weight: bold;
    padding: 0.4rem;
    width: 98%;
    color: white;
    text-align: center;
    border: 8px gray solid;
    border-radius: 10px;
}

.inputs-container {
    display: flex;
    justify-content: center;
    background:darkblue;
    font-weight: bold;
    padding: 0.3rem;
    color: white;
    border: 4px gray solid;
    border-radius: 10px;
}

.divsInputs-container {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}


.input-user {
    padding: 5px;
    border-radius: 10px;
    border: 0,5px black;
}



.board-container{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background:lightblue;
    border: 8px darkblue solid;
    border-radius: 10px;
    height: 580px;
    flex-wrap: wrap;
    width: 688px;
    float: left;
}

.column {
    width: 90px;
    float: left;
}

.circle-game{
    margin: 4px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: brown;
}

.opts-container{
    border: 8px darkblue solid;
    border-radius: 10px;
    width: 200px;
    height: 260px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.turn-section{
    font-size: 24px;
    width: 160px;
    padding: 5px;
    text-align: center;
    background: lightcoral;
    border-radius: 10px;
}

.new-game{
    font-size: 24px;
    width: 170px;
    height: 130px;
    padding: 5px;
    text-align: center;
    background: blue;
    border-radius: 10px;
}


.join-game-div{
    display: flex;
    width: 200px;
    padding: 5px;
    justify-content: space-between;
    border: 1px black solid;
    border-radius: 15px;
}

.btn-join{
    background: red;
}


.btn-col{
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}